{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Courses List
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">All Courses</h3>
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Courses! :)</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Name of Course</th>
                                    <th>Subtitle</th>
                                    <th>Description</th>
                                    <th>Availability and Price</th>
                                    <th>Placeholder Image</th>
                                    <th>Edit / Delete </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in allCourses %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ course.name }}</td>
                                        <td>{{ course.subtitle }}</td>
                                        <td>{{ course.description}}</td>
                                        <td>{% if course.is_active %}
                                                Active
                                            {% else %}
                                                Course is shelved
                                            {% endif %}
                                            <br>
                                            {{course.price}}
                                        </td>
                                        <td>
                                            <a href="static/{{course.image_name}}" target="_blank">
                                            <img src="static/{{course.image_name}}" width="70px" height="70px">
                                            </a>
                                        </td>
                                        <td>
                                            <div class="col-sm-12">
                                                <form action="{{url_for('editCourse')}}" method="get">
                                                    <input type="hidden" name="id" value="{{ course.id }}">
                                                    <input type="submit" class="btn btn-primary btn-block" value="Edit">
                                                </form>
                                            </div>
                                            <div class="col-sm-12">
                                                <form action="{{url_for('changeCourseStatus')}}" method="post">
                                                    <input type="hidden" name="id" value="{{ course.id }}">
                                                    {% if course.is_active %}
                                                        <input type="submit" class="btn btn-danger btn-block" value="Delete">
                                                    {% else %}
                                                        <input type="submit" class="btn btn-danger btn-block" value="Revive">
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}

{%block datatable%}

<script>
    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            order: [],
            columnDefs: [{orderable:false, targets: [0,1,2,3,4,5]}],
            "info": true,
            "autoWidth": false
        });
    });
 </script>

{% endblock %}