{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Edit Name
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Edit Name</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
        -->
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Edit Course</h3>
                </div>
                <div class="box-body">
                    <h4>
                        Current Name : {{ course.name }}
                    </h4>
                        <form method="post" enctype="multipart/form-data" action="{{ url_for('postEditCourse') }}">
                            <input type="hidden" name="id" value="{{ course.id }}">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">New Course Name</label>
                                        <input type="text" name="name" class="form-control" value="{{course.name}}"
                                               placeholder="Enter New Name">
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">Prospectus Link</label>
                                        <input type="text" name="prospec" class="form-control" value="{{course.prospectuslink}}"
                                               placeholder="Enter New Prospectus Link">
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">Course Subtitle</label>
                                        <input type="text" name="subtitle" class="form-control" value="{{course.subtitle}}"
                                               placeholder="Enter New Subtitle">
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">Enter the Description</label>
                                        <textarea type="text" name="description" class="form-control">{{course.description}}</textarea>
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">Product Price</label>
                                        <input type="number" name="price" class="form-control" value="{{course.price}}"
                                               placeholder="Enter the Price" required>
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">Enter the New Course Image</label>
                                        <input type="file" name="poster" class="form-control">
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>


                                <div class="col-md-6">
                                    <img src="static/{{course.image_name}}" width="120px" height="120px">
                                </div>

                            <div class="row">
                                <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                                    <input type="submit" class="btn btn-danger btn-block" value="Edit" >
                                </div>
                            </div>
                    </form>


                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}