<template>
<div class="foot">
  <!--Footer-->
  <footer id="myFooter">
    <div class="footer-social">
      <a target="_blank" href="https://www.facebook.com/warhorse.wh" class="social-icons"><i class="top fa fa-facebook"></i></a>
      <a target="_blank" href="https://www.instagram.com/warhorse_wh" class="social-icons"><i class="top fa fa-instagram"></i></a>
      <a target="_blank" href="https://www.twitter.com/warhorseacademy" class="social-icons"><i class="top fa fa-twitter"></i></a>
      <a target="_blank" href="https://www.youtube.com/channel/UCYVP7vHMtBQ7mrzLprn53zw" class="social-icons"><i class="top fa fa-youtube-play"></i></a>
      <a target="_blank" href="https://www.medium.com/warhorse-writes" class="social-icons"><i class="top fa fa-medium"></i></a>
    </div>
    <hr>
    <div class="contact">
      <span class="footer-copyright"><i class="fa cont fa-phone"></i>&nbsp; +91-8448448805</span>
      &nbsp;&nbsp;&nbsp;
      <span class="footer-copyright"><i class="fa cont fa-envelope"></i>&nbsp; vishal@warhorse.in</span>
    </div>
  </footer>
  <!-- Footer-->

  <div style="color:#1F1F1F;padding:45px 0;" class="mob-only"></div>
</div>
</template>

<script>
    export default {
        name: "footer"
    }
</script>

<style scoped>
  @import '../assets/css/footer.css';
</style>
