<template>


  <div class="home-container">
    <!--Carousel -->
    <div id="carousel-example-generic" class="carousel slide  carousel-fullscreen" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active c-one">
        </div>
        <div class="item c-two">
        </div>

        <div class="item c-three">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--Carousel-->

    <!--Pop Up -->

    <div class="rows pop-up">
      <div class="box small-4 large-centered">
        <h3 id="welcome">SELECT</h3>
        <div style="">
          <select class="form-control" placeholder="AGE" v-model="age" id="age" v-on:change="create(age)">
            <option style="display:none;" value="">AGE</option>
            <option v-for="ages in ageList">{{ages}}</option>
          </select>
        </div>
        {{age}}
        <br><br>
        <div v-show="isshowing" style="">
          <select class="form-control" v-model="location" id="location--" >
            <option style="display:none" value="" >LOCATION</option>
            <option v-for="location in locationList[0]" >{{location}}</option>
          </select>
        </div>
        <br>
        <div class="pop-up-button" v-show="isshowing">
          <button v-on:click="course()"><span style="color:#383838;font-weight: 500;">CLICK FOR DETAILS</span></button>
        </div>
        <br><br>
      </div>
    </div>

    <!-- Pop Up -->

  </div>

</template>

<script>
  import store from '../store/store';
  import * as type from '../store/mutations/types';
    export default {
        name: "home",
      data(){
          return{
            ageList:[],
            locationList:[],
            ages:{},
            age:'',
            location:'',
            data:{},
            isshowing:false,
          }
      },
      methods:{
          create:function (data) {
          //  console.log("AGE",data);
            this.isshowing=true;
            this.locationList=[];
            for ( let k in this.ages) {
              if (this.ages.hasOwnProperty(k)) {
                if(k === data)
                  this.locationList.push(this.ages[k]);
              }
            }
          //  console.log(this.locationList);
          },
          course:function () {
      //      console.log("Course",this.location);
            this.data = {
              age:this.age,
              location:this.location
            };
            store.dispatch({
              type:type.insert,
              amount:this.data
            });
            if(this.location !== "")
              this.$router.push('/courses')
          }
      },
      created(){
          this.$http.get('https://api.warhorse.in/ageLocation').then(response=> {
            this.response= response.body.payload;
        //    console.log(this.response);
            this.ages = this.response;
             this.ageList = [];
            for ( let k in this.response) {
              if (this.response.hasOwnProperty(k)) {
                this.ageList.push(k);
              }
            }
       //     console.log("Age list  :",this.ageList);
          })
      }
    }
</script>

<style scoped>
  @import '../assets/css/carousel.css';
  @import "../assets/css/popup.css";
</style>
