<template>
<div class="navbar">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#ffc000;border:#ffc000;z-index: 9999">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button style="color: black" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

    </div>
    <div class="navbar-brand navbar-brand-centered"><a href=""><img src="../assets/images/warhorse-logo.png" id="navbar-logo"></a></div>
    <span class="navbar-brand" id="mobile-logo">WARHORSE</span>
    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <!--   <li>
               <div id="abt">
                   <span> <img class="nav-img" style="width:4.5%;height:4.5%;margin-top: -1%;" src="../images/justification.png" alt="">&nbsp;
                   <a href="" style="text-decoration: none;"><span id="hover1">ABOUT US</span></a>
                   </span>
               </div>
           </li>
           <li>
               <div id="talks">
                   <span> <img class="nav-img" style="width:9%;height:9%;margin-top: -2%;" src="../images/event.png" alt="">&nbsp;
                   <a href="" style="text-decoration: none;"><span id="hover2">STABLE TALKS</span></a>
                   </span>
               </div>
           </li>  -->

        <li>
          <div id="talks">
            <!--   <span> <img class="nav-img" style="width:4.5%;height:4.5%;margin-top: -1%;" src="../images/justification.png" alt="">&nbsp; -->
            <a href="http://warhorse.in/" style="text-decoration: none;"><span id="hover1">ABOUT US</span></a>
          </div>
        </li>

        <li>
          <div id="blog">
            <!--   <span> <img class="nav-img" style="width:4.5%;height:4.5%;margin-top: -1%;" src="../images/justification.png" alt="">&nbsp; -->
            <a href="https://medium.com/warhorse-writes" target="_blank" style="text-decoration: none;"><span id="hover1">BLOG</span></a>
          </div>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li>
          <div id="cart">
            <!-- <span> <img class="nav-img" style="width:9%;height:9%;margin-top: -2%;" src="../images/event.png" alt="">&nbsp;-->
            <a href="http://stabletalks.warhorse.in/" style="text-decoration: none;"><span id="hover2">STABLE TALKS</span></a>
          </div>
        </li>



        <!--          <li>
                      <div id="cart">
                          <span> <img class="nav-img" style="width:12%;height:12%;margin-top: -2%;" src="../images/shopping-cart.png" alt="">&nbsp;
                          <a href="" style="text-decoration: none;"><span id="hover3">CART</span></a>
                          </span>
                      </div>
                  </li>
                  <li>
                      <div id="avatar">
                          <span> <img class="nav-img" style="width:12%;height:12%;margin-top: -2%;" src="../images/user.png" alt="">&nbsp;
                          <a href="" style="text-decoration: none;"><span id="hover4">PROFILE</span></a>
                          </span>
                      </div>
                  </li> -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

</div>
</template>

<script>
    export default {
        name: "navbar"
    }
</script>

<style scoped>

  @import '../assets/css/home.css';

</style>
