{% extends "main.html" %}

{% block body %}
    <!-- daterange picker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker-bs3.css') }}">
  <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datepicker/datepicker3.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='bower_components/jquery/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bower_components/moment/min/moment.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}"/>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Bundles
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
</section>
<section class="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
            <form action="{{url_for('postAddBatch')}}" enctype="multipart/form-data" method="post">

                <div class="form-group">
                    <label for="location">Batch Address:</label>
                        <div class="row">
                            <div class="col-lg-8">
                                <select id="location" name="address" required>
                                    locations
                                   {% for location in locations %}
                                        <option value="{{ location.id }}">{{ location.address }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                </div>

                <div class="form-group">
                    <label for="location">Course Name:</label>
                        <div class="row">
                            <div class="col-lg-8">
                                <select id="location" name="course" required>
                                   {% for course in courseNameList %}
                                        <option value="{{ course.id }}">{{ course.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Batch Start Age</label>
                                <input type="number" name="sage" class="form-control" placeholder="Enter starting age" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Batch End Age</label>
                                <input type="number" name="eage" class="form-control" placeholder="Enter the ending age" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Batch Price</label>
                                <input type="number" name="price" class="form-control" placeholder="Enter Batch Price" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Batch Total Seats</label>
                                <input type="number" name="totseat" class="form-control" placeholder="Enter the ending age" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                 <div class="row">
                     <div class='col-sm-6'>
                         <div class="form-group">
                             <div class='input-group date' id='datetimepicker1'>
                                 <label>Batch Start Date</label>
                                 <input type='text' name="bsd" class="form-control" />
                                 <span class="input-group-addon">
                                     <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                             </div>
                         </div>
                     </div>
                 </div>

                <div class="row">
                     <div class='col-sm-6'>
                         <div class="form-group">
                             <div class='input-group date' id='datetimepicker2'>
                                 <label>Batch End Date</label>
                                 <input type='text' name="bed" class="form-control" />
                                 <span class="input-group-addon">
                                     <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                             </div>
                         </div>
                     </div>
                 </div>

                <div class="row">
                     <div class='col-sm-6'>
                         <div class="form-group">
                             <div class='input-group date' id='datetimepicker3'>
                                 <label>Batch Start Time</label>
                                 <input type='text' name="bst" class="form-control" />
                                 <span class="input-group-addon">
                                     <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                             </div>
                         </div>
                     </div>
                 </div>

                <div class="row">
                     <div class='col-sm-6'>
                         <div class="form-group">
                             <div class='input-group date' id='datetimepicker4'>
                                 <label>Batch End Time</label>
                                 <input type='text' name="bet" class="form-control" />
                                 <span class="input-group-addon">
                                     <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                             </div>
                         </div>
                     </div>
                 </div>

                <div class="row">
                    <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                        <input type="submit" class="btn btn-danger btn-block" value="Submit Order" >
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
{% endblock %}
{% block datatable %}
<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'D/M/YYYY h:mm A'
                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    format: 'D/M/YYYY h:mm A'
                });
            });
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'h:mm A'
                });
            });

            $(function () {
                $('#datetimepicker4').datetimepicker({
                    format: 'h:mm A'
                });
            });
        </script>
{% endblock %}