{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Location
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
</section>
<section class="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
            <form action="{{url_for('batchmanualadd.postData')}}" enctype="multipart/form-data" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Student Name</label>
                                <input type="text" name="sname" class="form-control"
                                       placeholder="Enter the Name of Student" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Parent Name</label>
                                <input type="text" name="pname" class="form-control"
                                       placeholder="Enter the Name of Parent" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Student School</label>
                                <input type="text" name="sschool" class="form-control"
                                       placeholder="Enter Student's School" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Parent Mail</label>
                                <input type="text" name="pmail" class="form-control"
                                       placeholder="Enter the mail ID of parent" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Parent Mobile</label>
                                <input type="text" name="pmobile" class="form-control"
                                       placeholder="Enter the mobile number of Parent" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="id" value="{{batch_details.id}}">

                <div class="row">
                    <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                        <input type="submit" class="btn btn-danger btn-block" value="Submit Details" >
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
{% endblock %}