{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Batches List
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Batches! :)</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Course Name</th>
                                    <th>Location</th>
                                    <th>Age Group</th>
                                    <th>TotSeat / RemSeat</th>
                                    <th>Price</th>
                                    <th>Check Details </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for batch, course, location, date in batchAndCourse %}
                                {% if batch.is_completed == True%}
                                    <tr style="background-color:#FFB7A8">
                                        <td>{{ loop.index }}</td>
                                        <td>{{course.name}}</td>
                                        <td>{{location.location_name}}</td>
                                        <td>{{batch.start_age}} - {{batch.end_age}}</td>
                                        <td>{{batch.total_seats}} - {{batch.remaining_seats}}</td>
                                        <td>{{batch.price}}</td>
                                        <td>
                                            <div class="col-sm-12">
                                                <form action="{{url_for('batchDetail')}}" method="get">
                                                    <input type="hidden" name="id" value="{{batch.id}}">
                                                    <input type="submit" class="btn btn-primary btn-block" value="Check More">
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{course.name}}<br>
                                            {{date}}
                                        </td>
                                        <td>{{location.location_name}}</td>
                                        <td>{{batch.start_age}} - {{batch.end_age}}</td>
                                        <td>{{batch.total_seats}} - {{batch.remaining_seats}}</td>
                                        <td>{{batch.price}}</td>
                                        <td>

                                            <div class="col-sm-6">
                                                <form action="{{url_for('batchDetail')}}" method="get">
                                                    <input type="hidden" name="id" value="{{batch.id}}">
                                                    <input type="submit" class="btn btn-primary btn-block" value="Check More">
                                                </form>
                                            </div>
                                            <div class="col-sm-6">
                                                <form action="{{url_for('batchdetails.displayDetails')}}" method="get">
                                                    <input type="hidden" name="batchID" value="{{batch.id}}">
                                                    <input type="submit" class="btn btn-primary btn-block" value="Participant">
                                                </form>
                                            </div><br><br>
                                            <div class="col-sm-12">
                                                <form action="{{url_for('batchmanualadd.getData')}}" method="get">
                                                    <input type="hidden" name="batchID" value="{{batch.id}}">
                                                    <input type="submit" class="btn btn-primary btn-block" value="Add Participant">
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}

{%block datatable%}

<script>
    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            order: [],
            columnDefs: [{orderable:false, targets: [0,1,2,3,4,5,6]}],
            "info": true,
            "autoWidth": false
        });
    });
 </script>

{% endblock %}