{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Batch Dashboard
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Batch Complete Details</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-green">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">{{course.name}} -- {{location.location_name}}</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked" style="font-size:20px">
                        <li><a href="#">Course Name: {{course.name}}</a></li>
                        <li><a href="#">Location: {{location.location_name}}</a></li>
                        <li><a href="#">Address: {{location.address}}</a></li>
                        <li><a href="#">Price: {{batch.price}}</a></li>
                        <li><a href="#">Age Group: {{batch.start_age}} - {{batch.end_age}}</a></li>
                        <li><a href="#">Start Date: {{startString}}</a></li>
                        <li><a href="#">End Date: {{endString}}</a></li>
                        <li><a href="#">Timings: {{batch.batchstarttime}} -- {{batch.batchendtime}}</a></li>
                        <li><a href="#">Seats: {{batch.total_seats}} -- {{batch.remaining_seats}}</a></li>

                        <li>
                            <div class="col-sm-4 col-sm-offset-4">
                                <form action="{{url_for('deleteBatch')}}" method="post">
                                    <input type="hidden" name="id" value="{{ batch.id }}">
                                    {% if not batch.is_completed %}
                                        <input type="submit" class="btn btn-danger btn-block" value="Delete">
                                    {% else %}
                                        <input type="submit" class="btn btn-danger btn-block" value="Revive">
                                    {% endif %}
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>
{% endblock %}
