{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Batches List
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Live Batches! :)</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Student Name</th>
                                    <th>Student School</th>
                                    <th>Parent Name</th>
                                    <th>Parent Email</th>
                                    <th>Parent Mobile</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for participant in participantList %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{participant['studentName']}}</td>
                                        <td>{{participant['schoolName']}}</td>
                                        <td>{{participant['parentName']}}</td>
                                        <td>{{participant['parentEmail']}}</td>
                                        <td>{{participant['parentMobile']}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}

{%block datatable%}

<script>
    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            order: [],
            columnDefs: [{orderable:false, targets: [0,1,2,3,4,5]}],
            "info": true,
            "autoWidth": false
        });
    });
 </script>

{% endblock %}