html, body {
    display: block;
}
.c-one{
  background-image: url("../images/Summer1.jpg");
}
.c-two{
  background-image: url("../images/Summer2.jpg");
}
.c-three{
  background-image: url("../images/Summer3.jpg");
}
.carousel-fullscreen .carousel-inner .item {
    height: 100vh;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
}

.carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

@media (max-width:500px) {

  .c-one{
    background-image: url("../images/Summer1mobile.jpg");
  }

    #img1,#img2,#img3 {
        height: 120%;
    }
  .carousel-fullscreen{
    margin-top: -15%;
  }
  .carousel-fullscreen .carousel-inner .item {
    height: 100vh;
    min-height: 600px;
  }
}
