
#myFooter{
  padding-top:25px;
  background-color: rgba(0,0,0,0.7);
  font-family: "Cabin", sans-serif;
  z-index: 9999;
}

hr{
  border: 0.5px solid #ffc000;
}
#myFooter .container{
  text-align: center;
}

#myFooter .footer-copyright{
  margin-bottom: 20px;
  text-align: center;
  color: #ffeb3b;
  font-weight: 500;
}

#myFooter ul{
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
}

#myFooter a{
  font-family: "Raleway", sans-serif;
  color: #ffeb3b;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

#myFooter li{
  display: inline-block;
  margin: 0px 15px;
  line-height: 1;
}

#myFooter .footer-social{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

#myFooter .top{
  font-size: 20px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: darkgray;
  border-radius: 51%;
  padding: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
  transition:color 0.2s;
}

#myFooter .fa-facebook:hover{
  color: #2b55ff;
}

#myFooter .fa-facebook:focus{
  color: #2b55ff;
}

#myFooter .fa-youtube-play:hover{
  color:red;
}

#myFooter .fa-youtube-play:focus{
  color:red;
}

#myFooter .fa-medium:hover{
  color: black;

}

#myFooter .fa-medium:focus{
  color:black;
}

#myFooter .fa-instagram:hover{
  color:#bc2a8d;

}

#myFooter .fa-instagram:focus{
  color:#bc2a8d;
}



#myFooter .fa-twitter:hover{
  color: #00aced;

}

#myFooter .fa-twitter:focus{
  color:#00aced;
}

.footer-links:hover{
  color: white;
  border-bottom: 3px solid white;
  padding: 0.3% 0 0.2% 0;
  margin-bottom: 2%;
}

.contact{
  text-align: center;
  padding-bottom: 10px;
}


#myFooter .cont{
  color: white;
}

.mob-only{
  display: none;
}

@media screen and (max-width:620px){


  .mob-only{
    display: block;
  }

  #myFooter ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
  }

  #myFooter a{
    font-family: "Raleway", sans-serif;
    color: #ffeb3b;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }

  #myFooter li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 15px;
    line-height: 1;
  }

  #myFooter li:hover{
    color: white;
    border-bottom: 3px solid white;
    padding: 0.3% 0 0.2% 0;
    margin-bottom: 2%;
  }

  #myFooter .footer-social{
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.7);
  }

  #myFooter .fa{
    margin-right: 10px;
    margin-left: 10px;
    line-height: 20px;
  }
}
