.pop-up {
    position: fixed;
    margin: 10% auto;
    top: 0;
    left: 0;
    right: 0;
    z-index:0;
}

.box {
    background-color: #383838;
    opacity: 0.9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    position: relative;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.small-4 {
    width: 55%;
}

.column.large-centered,
.columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.column.large-centered:last-child,
.columns.large-centered:last-child {
    float: none;
}

.rows {
    width: 100%;
    margin: 0 auto;
    max-width: 62.5rem;
    opacity: 1;
}

#welcome {
    opacity: 1;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-weight: 900;
    padding-top: 28px;
    padding-bottom: 25px;
    color: #ffc000;
    background-color: #383838;
}

#age,
#location-- {
    margin-top:-5px;
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
    color: #383838;
}
/*
#age:focus {
    border: 2px solid #ffc000;
}
*/

.form-control>option {
    line-height:0;
    background: white;
    color:#383838;
    font-size: 18px;
    text-align: center;
}

#location {
    width: 70%;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pop-up-button{
  color: #ffc000;
}
.pop-up-button button{
  background: #ffc000;
  border: none;
  padding: 2% 3%;
}

@media (max-width:600px) {
    .small-4 {
        width: 67%;
    }
    .box {
        margin-top: 55%;
    }
    #age,
    #location-- {
        font-size: 120%;
        height: 40px;
    }
    .form-control>option {
        line-height: 30%;
        font-size: 100%;
        text-align: center;
    }
    .pop-up-button{
      margin-left: 3%;
    }
}
