<template>
  <div class="main">
   <navbar></navbar>
    <transition name="fade">
      <router-view></router-view>
    </transition>
    <transition name="fade">
      <foot></foot>
    </transition>
  </div>
</template>

<script>
  import navbar from './components/navbar'
  import home from './components/home'
  import foot from './components/footer'
  export default {
    data(){
      return {

      }
    },
    components:{
      navbar:navbar,
      home:home,
      foot:foot
    }
  }
</script>
<style >
  .fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .7s;
  }

  .fade-enter-active {
    transition-delay: .7s;
  }

  .fade-enter, .fade-leave-active {
    opacity: 0
  }
</style>
