<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hi,<br><br>

<p>This is to confirm your participation in the <b>Warhorse Summer Camp</b>
    <br><br>

    <b>COURSE NAME: </b>{{courseName}}<br>
    <b>LOCATION: </b>{{locationName}}<br>
    <b>DATE & TIME: </b> {{date_and_time}}<br>

    <br>

    If you have any queries, please feel free to contact us at <b>vishalv@warhorse.in</b> or call us at <b>8448448805</b>.
    <br>
    <br>

    Looking forward to a game changing Summer of 2018.

</p>
</body>
</html>