{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Edit Location
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Edit Location</h3>
                </div>
                <div class="box-body">
                    <h4>
                        Current Name : {{ location.location_name }}
                    </h4>
                        <form method="post" enctype="multipart/form-data" action="{{url_for('postEditLocation')}}">
                            <input type="hidden" name="id" value="{{ location.id }}">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">New Location Name</label>
                                        <input type="text" name="name" class="form-control"
                                               value="{{location.location_name}}">
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">Enter the New Generic Name</label>
                                        <input type="text" name="gname" class="form-control"
                                               value="{{location.generic_name}}">
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">Enter the Updated Address</label>
                                        <input type="text" name="address" class="form-control"
                                               value="{{location.address}}">
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                                    <input type="submit" class="btn btn-danger btn-block" value="Edit the information" >
                                </div>
                            </div>
                    </form>


                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}