{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Coupon Codes
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Courses! :)</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Coupon Code Key</th>
                                    <th>Amount</th>
                                    <th>Total Access</th>
                                    <th>Is Active?</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for couponCode in allCouponCodeList%}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ couponCode.coupcode}}</td>
                                        <td>{{ couponCode.amount }}</td>
                                        <td>{{ couponCode.no_of_access }}</td>
                                        <td>{% if couponCode.is_active %}
                                                Active
                                            {% else %}
                                                Coupon Code is Archived.
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="col-sm-12">
                                                <form action="{{url_for('coupon_code_bp.deleteCouponCode')}}" method="post">
                                                    <input type="hidden" name="id" value="{{ couponCode.id }}">
                                                    {% if couponCode.is_active %}
                                                        <input type="submit" class="btn btn-danger btn-block" value="Delete">
                                                    {% else %}
                                                        <input type="submit" class="btn btn-danger btn-block" value="Revive">
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}

{%block datatable%}

<script>
    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            order: [],
            columnDefs: [{orderable:false, targets: [0,1,2,3,4,5]}],
            "info": true,
            "autoWidth": false
        });
    });
 </script>

{% endblock %}