{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Coupon Code
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
</section>
<section class="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
            <form action="{{url_for('coupon_code_bp.postCoupCode')}}" enctype="multipart/form-data" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Coupon Code</label>
                                <input type="text" name="coupCode" class="form-control"
                                       placeholder="Enter the Coupon Code" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Discount Amount</label>
                                <input type="number" name="amount" class="form-control"
                                       placeholder="Enter the Discount Amount" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                        <input type="submit" class="btn btn-danger btn-block" value="Submit Coupon Code" >
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
{% endblock %}