html, body {
    display: block;
    width: 100%;
    height: 100%;
}
        body {
            background: url("../images/background.png");
            background-size: 40% 40%;
            width: 100%;
            margin: auto;
        }
        
        .container-fluid {
            padding: 0;
        }
        
        .age-location {
            margin-top: 3.5%;
            height: 15vh;
            padding-bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #age-location {
            margin-top: 3%;
            font-family: "Cabin", sans-serif;
            letter-spacing: 2px;
            font-size: 2vw;
            font-weight: 900;
            color: #ffc000;
            opacity: 1;
        }
        /*bundles */
        
        .heading {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-family: "Cabin", sans-serif;
            letter-spacing: 2px;
            font-size: 200%;
            font-weight: 900;
            color: white;
            top: 5%;
        }
        
        .bundles {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 80%;
            background-color: rgba(0, 0, 0, 0.5);
            margin-bottom: 5%;
            margin-left: 10%;
            padding: 7% 0;
            padding-bottom: 3.5%;
            position: relative;
        }

        .bundle-description{
            margin-top: -15%;
            position: absolute;
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 15px;
            text-align: center;
            width: 70%;
            color: white;
        }

        .bundles-container {
            margin-top: 7%;
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        .bundles>.col-md-3>a>img {
            margin: 0 auto;
        }
        
        .caption>span,
        .caption-individual>span {
            width: 80%;
            font-family: "Cabin", sans-serif;
            letter-spacing: 1px;
            font-size: 1.2vw;
            font-weight: 900;
            color: #f4dd11;
            position:relative;
            float:left;

        }



        #caption-rate,
        #individual-rate {
            color: white;
        }
        
        .triangle-up-right {
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: 0;
            border-style: solid;
            border-width: 0 25vh 25vh 0;
            border-color: transparent #ffc000 transparent transparent;
        }
        
        .triangle-text {
            width: 100%;
            font-size: 120%;
            font-family: "Cabin", sans-serif;
            font-weight: 700;
            transform: rotate(45deg);
            color: black;
            margin-left:12vh;
        }
        /*corner triangle

.triangle-up-right {
    width: 0;
    height: 0;
    padding-left:20%;
    padding-top:12%;
    overflow: hidden;
    position: absolute;
}
.triangle-up-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    margin-top:-500px;
    border-left: 500px solid transparent;
    border-top: 500px solid #ffc000;
}

/*corner triangle */
        /*bundles*/
        
        .lap-individual {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 80%;
            background-color: rgba(0, 0, 0, 0.5);
            margin-bottom: 5%;
            margin-left: 10%;
            padding: 7% 0;
            padding-bottom: 3.5%;
        }
        
        .heading-2 {
            position: absolute;
            margin-top: -26%;
            text-align: center;
            width: 100%;
            font-family: "Cabin", sans-serif;
            letter-spacing: 2px;
            font-size: 200%;
            font-weight: 900;
            color: white;
        }
        
        .lap-individual-courses {
            margin: 0 auto;
        }
        
        .col-images {
            margin-left: 7%;
            margin-bottom: 6%;
        }


        .footer-padding {
            position: relative;
            width: 100%;
            padding: 2% 0;
            background-color: #ffc000;
        }
        
        .mobile-bundles,
        .mobile-individual {
            display: none;
        }
        
        @media (max-width: 800px) {
            .age-location {
                margin-top: 9%;
                height: 15vh;
                padding-bottom: 0;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #age-location {
                margin-top: 5%;
                font-family: "Cabin", sans-serif;
                letter-spacing: 2px;
                font-size: 150%;
                font-weight: 900;
                color: #ffc000;
                opacity: 1;
            }
            .slick-container {
                width: 100%;
            }
            .bundles,
            .lap-individual {
                display: none;
            }
            .mobile-bundles,
            .mobile-individual {
                display: block;
            }
            .footer-padding {
                display: none;
            }
            .sl-img {
                width: 90%;
                margin-left: 5%;
                height: 100%;
                margin-top: 10%;
                margin-bottom: 1%;
            }
            .sl-header>h2 {
                position: relative;
                text-align: center;
                width: 100%;
                font-family: "Cabin", sans-serif;
                letter-spacing: 2px;
                font-size: 180%;
                font-weight: 900;
                color: white;
            }
            .sl-bundle-caption {
                text-align: center;
                font-family: "Cabin", sans-serif;
                font-size: 100%;
                font-weight: 900;
                color: #ffc000;
            }


        }