html, body {
    display: block;
}
body {
    background: url("../images/background.png");
    background-size: 25% 25%;
    width: 100%;
    height: 100%;
    margin: auto;
}

.home-container {
    width: 100%;
    height: 100%;
}

#mobile-logo {
    display: none;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-toggle {
    z-index: 3;
}

.navbar-brand-centered {
    position: fixed;
    left: 40%;
    display: block;
    width: 11%;
    text-align: center;
    background-color: transparent;
}

.navbar-default {
    background-color: #ffc000;
    border: none;
    font-family: "Cabin", sans-serif;
    font-weight: 900;
    padding-bottom: 2%;
}

#abt {
    position: fixed;
    left: 6%;
    top: 2%;
}

#talks {
    position: fixed;
    left: 25%;
    top: 2%;
}

#cart {
    position: fixed;
    right: 25%;
    top: 2%;
}

#abt,
#talks {
    font-size: 120%;
    font-weight: 900;
    color: black;
}

#navbar-logo {
    width: 75%;
    margin-top: -15%;
    cursor: pointer;
    position: absolute;
}

#cart,
#avatar {
    font-size: 120%;
    font-weight: 900;
}

#avatar {
    position: fixed;
    right: 0;
    top: 2%;
}

#hover1,
#hover2,
#hover3,
#hover4 {
    color: black;
}

#hover1:hover,
#hover2:hover,
#hover3:hover,
#hover4:hover {
    color: white;
}


/* navbar */


/* navbar */

span.fa-circle {
    display: none;
    position: absolute;
    font-size: 0.9em;
    top: 7px;
    color: black;
    right: 80%;
}

span.num {
    display: none;
    position: absolute;
    font-size: 0.5em;
    font-weight: 900;
    top: 12px;
    color: white;
    right: 83%;
}

.message {
    display: none;
    color: white;
    margin-top: .5%;
    margin-left: 68%;
    padding: 18px 0;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    width: 15%;
    position: absolute;
    z-index: 9999;
}

.message:after {
    bottom: 100%;
    left: 107%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}

.other-message {
    background: white;
}

.other-message:after {
    border-bottom-color: white;
    left: 15%;
}

.span-notify {
    font-family: "Cabin", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

@media (min-width:700px) and (max-width:800px) {
    #avatar {
        position: fixed;
        right: -5%;
    }
    #cart {
        position: fixed;
        right: 15%;
    }
}

@media (max-width:600px) {
    #navbar-logo {
        display: none;
    }

    #mobile-logo {
        display: block;
        color: black;
        font-size: 200%;
        font-weight: 900;
        font-family: "Cabin", sans-serif;
    }

    .nav-img {
        width: 8%;
        height: 8%;
    }

    #abt,
    #talks,
    #cart,
    #avatar {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        padding: 5%;
        font-size: 180%;
        text-align: center;
    }

    #abt {
        margin-left: -4%;
    }

    #talks {
        margin-left: 5%;
    }

    #cart {
       padding: 0;
        margin-left: 10%;
    }

    #avatar {
        margin-right: 10%;
    }

    .navbar-toggle {
        border: none;
        background: transparent !important;
    }

    .navbar-toggle:hover {
        background: transparent !important;
    }

    .navbar-toggle .icon-bar {
        background: black !important;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .navbar-toggle.collapsed > .top-bar {
        transform: rotate(0);
    }

    .navbar-toggle.collapsed > .middle-bar {
        opacity: 1;
    }

    .navbar-toggle.collapsed > .bottom-bar {
        transform: rotate(0);
    }

    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

}
