html, body {
    display: block;

}
/* The Modal (background) */
.modal {
    position: relative;
    margin-left: 30%;
    margin-top: 8%;
    width: 50%;
    height: 100%;
    overflow:hidden;
    z-index:9999;
    text-align: center;
}
/* Modal Content */
.modal-content {
    position: absolute;
    margin:0;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-- {
    display: flex;
    float: right;
    margin-top:-10%;
    padding-right: 7%;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: center;
}

#close{
    font-size: 300%;
    color: black;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-header {
    padding: 1% 0 ;
    background-color:#ffc000;
    font-family: sans-serif;
}

.popup-header > h2{
    font-family: "Raleway", sans-serif;
    letter-spacing:1px;
    font-size: 30px;
    font-weight:900;
    color: black;
}

.popup-header > span{
    font-family: "Raleway", sans-serif;
    letter-spacing:1px;
    font-size: 30px;
    font-weight:900;
    color: black;
}

.modal-body {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #383838;
    justify-content: center;
    align-items: center;
}



/* text input */

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

/* text input */


.btn-sign{
    padding: 1.5%;
    position: relative;
    background: none;
    border: 2px solid #ffc000;
}

#signup {
    font-family: "Raleway", sans-serif;
    color: #ffc000;
    padding: 8px 25px;
    border-radius: 3px;
}

#member {
    color: #ffc000;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

.course-data{
    border-radius: 5px;
    background: #ffc000;
    color: black;
}

/* individual courses model */

.modal-individual{
    border: none;
    overflow:hidden;

}

.modal-content-individual {
    position: absolute;
    margin:0;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.popup-header-individual {
    padding: 1% 0 ;
    background-color:#ffc000;
    font-family: sans-serif;
}

.popup-header-individual > h2{
    font-family: "Raleway", sans-serif;
    letter-spacing:1px;
    font-size: 30px;
    font-weight:900;
    color: black;
}

.modal-body-individual {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #383838;
    justify-content: center;
    align-items: center;
}

/* individual courses model */

.modal-caption{
    position: relative;
    color: white;
    width: 100%;
    margin: 0;
    font-size: 200%;
    font-weight: 900;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-age-location {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    padding: 0;
    color: white;
}


/* The Close Button */
.close-individual {
    color: black;
    font-size: 40px;
    font-weight: bold;
}

#close-individual{
    margin-top: -7%;
    margin-right: 4%;
    font-size: 30px;
    color: black;
    opacity: 1;
}

.close-individual:hover,
.close-individual:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* Akira Text input */


/* Akira */

.input__field--akira {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    padding: 0 ;
    font-size: 180%;
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: center;
}

.input__label--akira {
    padding: 0;
    width: 100%;
    background: #383838;
    color: #ffc000;
    cursor: text;
    text-align: center;
    font-size: 80%;
}

.input__label--akira::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    -webkit-transform: scale3d(0.97, 0.85, 1);
    transform: scale3d(0.97, 0.85, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label-content--akira {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__field--akira:focus + .input__label--akira::before,
.input--filled .input__label--akira::before {
    -webkit-transform: scale3d(0.99, 0.95, 1);
    transform: scale3d(0.99, 0.95, 1);
}

.input__field--akira:focus + .input__label--akira,
.input--filled .input__label--akira {
    cursor: default;
    pointer-events: none;
}

.input__field--akira:focus + .input__label--akira .input__label-content--akira,
.input--filled .input__label-content--akira {
    -webkit-transform: translate3d(0, -3.5em, 0);
    transform: translate3d(0, -3.5em, 0);
}

/* Akira text Input */

.form-control > option{
    line-height: 50%;
    color: #ffc000;
    font-size: 25px;
    background: #383838;
    text-align: center;
}


.batch-timing{
    width: 100%;
    margin: auto;
    padding: 3% 0;
}

.batch-timing>span{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#batches,#timing{
    width: 100%;
    cursor: pointer;
    background-color:rgba(0,0,0,0.5);
    color: #ffc000;
    height: 50px;
    font-size: 100%;
    border: 2px solid #ffc000;
}

#done{
    font-family: "Raleway", sans-serif;
    color: #ffc000;
    padding: 7px 22px;
    border-radius: 3px;
}

.btn-done{
    border: 2px solid #ffc000;
    background: none;
    padding: 1.5%;
    border-radius:10px;
}

.done{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media  (max-width: 600px) {

    .modal{
        width: 100%;
        margin-left:10%;
        margin-top: 25%;
    }

    .popup-header >h2{
        font-size: 100%;
    }

    .close--{
        font-size: 100%;
        margin-top: -18%;
    }

}


