html, body {
    display: block;

}
body {
    background: url("../images/background.png");
    background-size: 40% 40%;
    width: 100%;
}

.mobile-courses{
    display: none;
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
}

.description {
    position: static;
    padding: 3% 0 0 0;
    margin-top: 2%;
    width: 100%;
}

.payment>h2 {
    margin-top: 3%;
    font-size: 300%;
    background: none;
    color: #ffc000;
    text-align: center;
}

.payment>p {
    margin-top: 1%;
    font-size: 450%;
    background: none;
    color: #ffc000;
    text-align: center;
}

#payment-age {
    font-family: "Cabin", sans-serif;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    opacity: 1;
}

#payment-location {
    margin-top: -0.5%;
    font-family: "Cabin", sans-serif;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    opacity: 1;
}

#bundles-description{
    margin-top: -0.5%;
    font-family: "Cabin", sans-serif;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    opacity: 1;
    padding:25px 200px;
}


#short-description {
    margin-left: 18%;
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    width: 65%;
    font-weight: 600;
    color: white;
    opacity: 1;
}

#combo-of {
    margin-top: 1%;
    font-family: "Cabin", sans-serif;
    text-align: center;
    font-size: 25px;
    color: #ffc000;
    opacity: 1;
}

#bundle-courses {
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    opacity: 1;
    text-align: center;
}

#strike {
    font-family: "Cabin", sans-serif;
    margin-top: -0.5%;
    text-align: center;
    color: white;
    font-size: 25px;
    text-decoration: line-through;
    text-decoration-color: #ffc000;
    opacity: 1;
}

#rate {
    font-size: 25px;
    font-weight: 500;
    font-family: "Cabin", sans-serif;
    margin-top: .5%;
    text-align: center;
    color: #ffc000;
    opacity: 1;
}

#btn-1 {
    margin: auto;
    margin-top: 1%;
    display: block;
    background-color: #ffc000;
    padding: 0.5% 1%;
    border-radius: 10px;
}

a:hover{
    text-decoration: none;
}

#btn-1:focus,
.btn-2:focus,
.btn-3:focus,
.btn-sign:focus,
#prospectus:focus {
    outline: none !important;
}

#combo {
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

#arrow {
    color: #f4dd11;
    font-size: 50%;
}

.courses-container {
    width: 100%;
    position: absolute;
}

.courses {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5%;
    position: relative;
}

.circle-courses {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    position: relative;
    width: 25%;
    border-radius: 50%;
}

.courses-col {
    margin-left: 5%;
}

.caption-2 {
    position: relative;
    font-family: "Cabin", sans-serif;
    letter-spacing: 1px;
    font-size: 27px;
    font-weight: 600;
    color: white;
}

.subtitle{
    position: relative;
    font-family: "Cabin", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight:500;
    color: white;
}

.description-courses {
    position: relative;
    font-family: "Cabin", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-top: 1%;
    width: 80%;
}

.batch {
    position: relative;
    width: 100%;
    background: none;
    font-family: "Cabin", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.course-rate {
    position: relative;
    width: 100%;
    color:#ffc000;
    font-size: 23px;
    font-family: "Cabin", sans-serif;
}

.prospectus {
    position: relative;
    background: none;
    margin-left: -2%;
}

#prospectus {
    color: white;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 3px;
}

#prospectus:focus {
    border: none;
    outline: none;
}

.btn:focus{
    outline: none !important;
}

.btn-3 {
    margin-left: 2%;
    background: #ffc000;
}

#add-to-cart  {
    color:black;
    padding: 10px 10px;
    border-radius: 3px;
}


.footer-padding {
    position: relative;
    margin-top: 100%;
    width: 100%;
    padding: 2% 0;
    z-index: 9999;
    background-color: #ffc000;
}


body,#payment-location,#payment-age,#add-to-cart,#prospectus,#bundle-courses,.course-rate,.batch,.description-courses{
    font-family: "Cabin",sans-serif;
}



@media (max-width:600px) {

    #btn-1 {
        padding: 1% 2%;
        border-radius: 5px;
    }

    .mobile-courses{
        display:block;
    }


    .footer-padding,
    .courses-container {
        display: none;
    }
    .payment>h2 {
        font-size: 200%;
        margin-top: 15%;
    }

    #bundles-description{
        padding-right: 0;
        padding-left: 0;
        font-size: 20px;
    }

    .images {
        width: 80%;
        height: 100%;
        border-radius: 50%;
    }
    .images>button {
        background: none;
        border: none;
        color: white;
        font-size: 150%;
        margin-left: 40%;
        margin-top: 5%;
    }
    .images>button:focus {
        outline: none;
    }
    .mobile-caption {
        font-size: 150%;
        color: white;
        margin-bottom: 3%;
        text-align: center;
    }

    .mobile-subtitle{
        font-size: 120%;
        color: white;
        margin-bottom: 3%;
    text-align: center;
    }
    .description-courses>p{
        text-align: center;
        font-weight: 600;
        font-family: "Cabin", sans-serif;
        font-size: 100%;
        margin-left: 11%;
        width: 100%;
        padding: 2% 5%;
    }

    .batch{
        color: #00a9ff;
        width: 100%;
        font-size: 120%;
        margin-left: 12%;
        text-align: center;
    }

    .course-rate{
        color: white;
        width: 100%;
        font-size: 130%;
        margin-left: 12%;
        text-align: center;
        padding-bottom: 2%;
    }

  .mobile-buttons>span{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10%;
  }
#prospectus-mobile {
    color: white;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 3px;
   }

#add-to-cart-mobile{
    padding: 15px 30px;
    border-radius: 3px;
    color: black;
}

}


