<div data-ng-include="'views/navbar.html'"></div>
<div ng-controller="coursesController as ctrl" data-ng-init="init()">

    <div class="container-fluid">
        <!-- Age -- Location -->
        <div class="age-location">
            <span id="age-location"><strong>{{ctrl.age}} Yrs , {{ctrl.location}}</strong></span>
        </div>
        <!-- Age -- Location -->

        <!--
    <div class="bundles mobile-bundles" ng-repeat="i in [1,2]">
        <div class="heading">
            <span><a href="" ng-click="ctrl.payment()">#CREATIVE THINKING</a></span>
        </div>
        <div class="mobile-courses">
             <carousel interval="myInterval" id="abc">
                 <slide ng-repeat="slide in ctrl.courses">
                    <img ng-src="../images/{{slide}}.jpg" style="margin:auto;">
                  </slide>
             </carousel>
        </div>
        <div class="mobile-caption">
            <span style="color: #f4dd11;margin-left: 25%;">CREATIVITY 101</span>
            <br>
            <span style="color: white;margin-left: 35%;">4500 INR</span>
        </div>
    </div> -->
        <br><br>

        <!-- Lap-Bundles

    <div class="bundles lap-bundles" ng-class="item.bundle" ng-repeat="item in ctrl.colors">
        <div id="corner-triangle" ng-class="item.tri">
            <div class="corner-triangle-text"><span class="corner-triangle-firstline">Combo at</span><br><span id="value">10000</span></div>
        </div>
        <div class="heading" ng-class="item.head">
            <span><a href="" ng-click="ctrl.payment()">#CREATIVE THINKING</a></span>
        </div>
        <div class="row bundles-row" id="bundless-row">
            <div class="col-md-3 img" ng-repeat="img in ctrl.imgs">
                <img src="../images/{{img}}.jpg" alt="Lights">
                   <div class="caption" style="margin-top:10%;margin-left:-20px;">
                       <span>CREATIVITY 101</span>
                       <span style="margin-left:35px;color: white;">4500 INR</span>
                   </div>
            </div>
        </div>
    </div>

    <!--Lap-Bundles-->


        <div class="row bundles" ng-repeat="item in ctrl.bundles"  ng-if="item.isBundle== true">

            <div class="heading">
                <a href="" ng-click="ctrl.payment(item.id)">
                    <span style="color: white">{{item.name}}</span>
                </a><br>
            </div>
            <div class="bundle-description">
                <p>
                    {{item.description}}
                </p>
            </div>
            <div class="bundles-container">
                <div class="col-lg-3 col-md-3 col-xs-3" ng-repeat=" img in item.images track by  $index">
                    <a class="" href="" ng-click="ctrl.payment(item.id)">
                        <img class="img-responsive" ng-src="http://{{img}}" alt="{{img}}">
                    </a>
                    <br>
                    <div class="caption">
                        <span id="caption-name">{{item.courses[$index]}}</span>
                        <br>
                        <span id="caption-rate">{{item.courseCost[$index]}}INR</span>
                    </div>
                </div>
            </div>
            <div class="triangle-up-right">
                <div class="triangle-text" style="margin-top: 1vh;">
                    <span id="tri-combo">Combo&nbsp;at<br>
                         &nbsp;&nbsp;&nbsp;&nbsp;{{item.price}}!
                    </span>
                </div>
            </div>
        </div>

   <!--     <div class=" lap-individual ">
            <div class="heading-2 ">
                <span>#INDIVIDUAL COURSES</span>
            </div>
            <div class="row lap-individual-courses ">
                <div class="col-lg-3 col-md-3 col-xs-3 col-images " ng-repeat="item in ctrl.bundles" ng-if="item.isBundle == false">
                    <a class=" " href=" " ng-click="ctrl.payment(item.id)">
                        <img class="" ng-src="http://{{item.image}}" alt=" ">
                    </a>
                    <br><br>
                    <div class="caption-individual ">
                        <span>{{item.name}}</span>
                        <br>
                        <span id="individual-rate ">{{item.price}} INR</span>
                    </div>
                </div>
            </div>
        </div>

        <!--Individual Courses

    <div class=" row bundles lap-individual ">
        <div class="heading-2 " style="margin-top:-31%; ">
            <span>#INDIVIDUAL COURSES</span>
        </div>
        <div class="row ">
            <div class=" col-lg-3 col-md-3 col-xs-3 " ng-repeat="img in [1,2,3,4,5] ">
                <a href=" "><img id=" " src="../images/square.png " alt="Lights "></a>
                <div class="caption ">
                    <span>CREATIVITY 101</span>
                    <br>
                    <span>4500 INR</span>
                </div>
                <br><br>
            </div>
        </div>
    </div>

    <!--Individual Courses-->
        <!--
    <div class="mobile-individual ">
        <carousel interval="myInterval " id="abc ">
            <slide ng-repeat="slide in ctrl.courses ">
                <img ng-src="../images/{{slide}}.jpg " style="margin:auto; ">
                <div class="carousel-caption ">
                </div>
            </slide>
        </carousel>
    </div>
-->
        <!--
    <div class="wrapper ">
        <h2 style="color: #f4dd11; " id="individual-heading ">#INDIVIDUAL COURSES<h2>
            <div class="carousel " style="width:500px;height:180px; " >
                <div style="margin-left: -30px; "><img src="../images/div1.jpg "><span>CREATIVITY 101</span></div>
          <!--      <div style="margin-left: -30px; "><img src="../images/delta.jpg "> <span>CREATIVITY 101</span></div>
                <div style="margin-left: -30px; "><img src="../images/div4.jpg "> <span>CREATIVITY 101</span></div>
                <div style="margin-left: -30px; "><img src="../images/create.jpg "> <span>CREATIVITY 101</span></div>
                <div style="margin-left: -30px; "><img src="../images/writing.jpg "> <span>CREATIVITY 101</span></div>
                <div style="margin-left: -30px; "><img src="../images/div5.jpg "><span>CREATIVITY 101</span></div>

            </div>
    </div>
    -->
        <!--
        <div class="mobile-bundles">
            <div class="swiper-13 swiper-container">
                <div class="swiper-wrapper">
                <div class="test swiper-slide" ng-repeat=" img in ctrl.courses track by $index ">
                    <img class="sl-img " src="../images/{{img}}.png " style="height:50%;width:50%;">
                </div>
                </div>
            </div>
        </div>
            -->

<!--
        <div class="slider">
            <div>
                <img src="http://kenwheeler.github.io/slick/img/fonz1.png" />
            </div>
            <div>
                <img src="http://kenwheeler.github.io/slick/img/fonz2.png" />
            </div>
            <div>
                <img src="http://kenwheeler.github.io/slick/img/fonz3.png" />
            </div>
            <div>
                <img src="http://kenwheeler.github.io/slick/img/fonz1.png" />
            </div>
            <div>
                <img src="http://kenwheeler.github.io/slick/img/fonz2.png" />
            </div>
            <div>
                <img src="http://kenwheeler.github.io/slick/img/fonz3.png" />
            </div>
        </div>

 -->

        <div ng-repeat="item in ctrl.bundles" class="mobile-bundles"  ng-if="item.isBundle == true">
            <div class="slick-container ">
                <div class="sl-header ">
                    <h2 style="text-align:center " ng-click="ctrl.payment(item.id)">{{item.name}}</h2>
                </div>
                <slick infinite=false slides-to-show=2 dots=true arrows="false" autoplay=true>
                    <div class="test " ng-repeat=" img in item.images track by $index ">
                        <img class="sl-img " ng-click="ctrl.payment(item.id)" ng-src="http://{{img}}">
                        <div class="sl-bundle-caption ">
                            <span>{{item.courses[$index]}}</span>
                            <br>
                            <span id="sl-bundle-rate" style="color: white">{{item.courseCost[$index]}}INR</span>
                        </div>
                    </div>
                </slick>
            </div>
            <br>
        </div>

 <!--



        <div class="slick-container mobile-individual ">
            <div class="sl-header ">
                <h2 style="text-align:center ">#INDIVIDUAL COURSES</h2>
            </div>
            <slick infinite=false autoplay=true slides-to-show=2 dots=true arrows=false>
                <div class="test " ng-repeat=" img in ctrl.courses track by $index ">
                    <img class="sl-img " src="../images/{{img}}.png ">
                    <div class="sl-bundle-caption ">
                        <span>CREATIVE 101</span>
                        <br>
                        <span id="sl-bundle-rate ">4500 INR</span>
                    </div>
                </div>
            </slick>
        </div>


        <!--
        <div ng-repeat="i in [1,2] ">
            <div class="wrapper mobile-bundles ">
                <h2 style="color: crimson; " id="bundles-heading ">#CREATIVE THINKING</h2>
                <slick infinite=true slides-to-show=3 slides-to-scroll=3>
                    <div class="slick-item " ng-repeat="image in ctrl.courses track by $index ">
                        <div><img class="slick-img " src="../images/{{ image}}.png " /></div>
                    </div>
                </slick>
            </div>
        </div>

        <!--
        <div class="wrapper mobile-individual ">
            <h2 style="color: blueviolet; " id="individual-heading ">#INDIVIDUAL COURSES</h2>
        <slick infinite=true slides-to-show=3 slides-to-scroll=3>
            <div class="slick-item " ng-repeat="image in ctrl.courses ">
                <div><img class="slick-img " src="../images/{{ image}}.jpg " /></div>
            </div>
        </slick>
       </div>

-->
    </div>
</div>
