<div data-ng-include="'views/navbar.html'"></div>
<div ng-controller="homeController as ctrl" ng-cloak="">

    <div class="home-container">
        <!--Carousel -->
        <div id="carousel-example-generic" class="carousel slide  carousel-fullscreen" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url('../images/Summerforthefuture3.jpg')">
                </div>
                <div class="item" style="background-image: url('../images/Summerforthefuture4.jpg')">
                </div>

                <div class="item" style="background-image: url('../images/Summerforthefuture5.jpg')">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!--Carousel-->

        <!--Pop Up -->

        <div class="rows pop-up">
            <div class="box small-4 large-centered">
                <h3 id="welcome">SELECT</h3>
                <div style="">
                    <select class="form-control" placeholder="AGE" ng-model="ctrl.age" id="age" ng-change="create(ctrl.age)">
                        <option style="display:none;" value="">AGE</option>
                        <option ng-repeat="ages in ctrl.ageList"  value={{ages}}>{{ages}}</option>
                    </select>
                </div>

                <br><br>
                <div ng-show="isHidden" style="">
                    <select class="form-control" ng-model="ctrl.location" id="location--" ng-change="courses()">
                    <option style="display:none" value="" >LOCATION</option>
                    <option ng-repeat="location in ctrl.locationList[0]" value={{location}}>{{location}}</option>
                </select>
                </div>
                <br><br><br>
            </div>
        </div>

        <!-- Pop Up -->

    </div>
</div>