<div ng-controller="navbarController as ctrl">
    <!-- Navbar 
    <div class="home-container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#ffc000;border:#ffc000;">
            <div class="container-fluid">
                <div class="navbar-header ">
                    <button style="color: #383838" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <div class="navbar-brand navbar-brand-centered"> <img src="../images/warhorse-logo.png" id="navbar-logo"></div>
                    <span id="mobile-logo">WARHORSE</span>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <div id="abt">
                                <span> <img style="width:4.5%;height:4.5%;margin-top: -1%;" src="../images/justification.png" alt="">&nbsp;
                                <a href="" style="text-decoration: none;"><span id="hover1">ABOUT US</span></a>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div id="talks">
                                <span> <img style="width:9%;height:9%;margin-top: -2%;" src="../images/event.png" alt="">&nbsp;
                                <a href="" style="text-decoration: none;"><span id="hover2">STABLE TALKS</span></a>
                                </span>
                            </div>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <div id="cart">
                                <span> <img style="width:12%;height:12%;margin-top: -2%;" src="../images/shopping-cart.png" alt="">&nbsp;
                                <a href="" style="text-decoration: none;"><span id="hover3">CART</span></a>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div id="avatar">
                                <span> <img style="width:12%;height:12%;margin-top: -2%;" src="../images/user.png" alt="">&nbsp;
                                <a href="" style="text-decoration: none;"><span id="hover4">PROFILE</span></a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Navbar -->

    <!--
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand navbar-brand-centered">  <img src="../images/warhorse-logo.png" id="navbar-logo"></div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" id="abt" disabled="true">ABOUT US</a></li>
                            <li><a href="#" id="talks" disabled="true">STABLE TALKS</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" disabled="true"><i class="fa fa-shopping-cart" id="cart">
                                <span class="fa fa-circle" id="fa-circle"></span>
                                <span class="num" id="num">2</span>
                            </i></a></li>
                            <li><a href="#" disabled="true"><i class="fa fa-user" id="avatar">
                            </i></a></li>
                        </ul>
                    </div>
                </div>
           </nav>

        </div>
    </div>
    -->


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#ffc000;border:#ffc000;z-index: 9999">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button style="color: black" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

        </div>
        <div class="navbar-brand navbar-brand-centered"><a href="/#/home"><img src="../images/warhorse-logo.png" id="navbar-logo"></a></div>
        <span class="navbar-brand" id="mobile-logo">WARHORSE</span>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
             <!--   <li>
                    <div id="abt">
                        <span> <img class="nav-img" style="width:4.5%;height:4.5%;margin-top: -1%;" src="../images/justification.png" alt="">&nbsp;
                        <a href="" style="text-decoration: none;"><span id="hover1">ABOUT US</span></a>
                        </span>
                    </div>
                </li>
                <li>
                    <div id="talks">
                        <span> <img class="nav-img" style="width:9%;height:9%;margin-top: -2%;" src="../images/event.png" alt="">&nbsp;
                        <a href="" style="text-decoration: none;"><span id="hover2">STABLE TALKS</span></a>
                        </span>
                    </div>
                </li>  -->

                <li>
                    <div id="talks">
                     <!--   <span> <img class="nav-img" style="width:4.5%;height:4.5%;margin-top: -1%;" src="../images/justification.png" alt="">&nbsp; -->
                        <a href="http://warhorse.in/" style="text-decoration: none;"><span id="hover1">ABOUT US</span></a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <div id="cart">
                       <!-- <span> <img class="nav-img" style="width:9%;height:9%;margin-top: -2%;" src="../images/event.png" alt="">&nbsp;-->
                        <a href="http://stabletalks.warhorse.in/" style="text-decoration: none;"><span id="hover2">STABLE TALKS</span></a>
                    </div>
                </li>



                <!--          <li>
                              <div id="cart">
                                  <span> <img class="nav-img" style="width:12%;height:12%;margin-top: -2%;" src="../images/shopping-cart.png" alt="">&nbsp;
                                  <a href="" style="text-decoration: none;"><span id="hover3">CART</span></a>
                                  </span>
                              </div>
                          </li>
                          <li>
                              <div id="avatar">
                                  <span> <img class="nav-img" style="width:12%;height:12%;margin-top: -2%;" src="../images/user.png" alt="">&nbsp;
                                  <a href="" style="text-decoration: none;"><span id="hover4">PROFILE</span></a>
                                  </span>
                              </div>
                          </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>


</div>