<div data-ng-include="'views/navbar.html'"></div>
<div ng-controller="paymentController as ctrl">

    <div class="container-fluid">

        <div class="header">
            <!-- Combo -->
            <div id="combo-description" class="description" style="background-color:rgba(0,0,0,0.4);">
                <div class="payment"  >
                    <h2><strong>{{ctrl.bundledetails.bundleName}}</strong></h2>
                    <p id="payment-age"> {{ctrl.bundledetails.bundleAgeGroup}} Yrs</p>
                    <p id="bundles-description">{{ctrl.bundledetails.bundleDescription}}</p>
                    <p id="payment-location" ng-repeat="i in ctrl.bundledetails.bundeleAddress track by $index" >{{i}}</p>
                  <!--  <p id="short-description">short description short description short description short description short description short description short description short description short description short description short description short description</p>
                    -->
                    <h2 id="combo-of"><strong>COMBO OF</strong></h2>
                    <h4 id="bundle-courses"><strong>{{ctrl.bundledetails.bundleComboString}}</strong></h4>
                    <br>
                    <h3 id="strike"><strong>{{ctrl.bundledetails.bundleTotalCost}} INR</strong></h3>
                    <h3 id="rate"><strong>{{ctrl.bundledetails.bundlePrice}} INR</strong></h3>
                    <button type="button" ng-click="ctrl.bundleclick(ctrl.bundledetails.bundleImojo)" id="btn-1" class="btn signup-popup"><span id="combo"><strong>BUY COMBO</strong></span></button>
                    <p><span class="glyphicon glyphicon-chevron-down" id="arrow"></span></p>
                </div>
            </div>
        </div>
        <!-- Combo -->
        <br><br>
        <!--Description-->

        <div class="courses-container" id="courses-container">
            <div class="courses" ng-repeat="item in ctrl.coursedetails" style="background-color:rgba(0,0,0,0.4)">
                <div class="row circle-courses">
                    <div class="col-md-4 images">
                        <img ng-src="http://{{item.imageLink}}" alt="Lights" style="width:100%;border-radius: 50%;">
                    </div>
                    <div class="col-md-8 courses-col">
                        <div class="caption-2 ">
                            <span>{{item.name}}</span>
                        </div>
                        <div class="subtitle">
                            {{item.subtitle}}
                        </div>
                        <div class="description-courses">
                            <p>
                                {{item.description}}
                            </p>
                        </div>
                        <div class="batch">
                            <span><strong>BATCHES AVAILABLE : </strong>
                            <div ng-repeat="batch in item.batches track by $index" ng-if="batch.isActive == true" style="font-size:80%;">
                                     {{batch.startDate}} - {{batch.endDate}} &nbsp; --> &nbsp;  {{batch.startTime}} - {{batch.endTime}}
                            </div>
                            </span>
                        </div>
                        <div class="course-rate">
                            <strong>{{item.price}} INR</strong>
                        </div>
                        <br>
                        <a href={{item.prospectusLink}}><button type="button" class="btn prospectus"><span id="prospectus"><strong>PROSPECTUS</strong></span></button></a>
                       <button type="button" ng-click="ctrl.individualclick(item.batches[0].imojoLink,item.id)" id="add-to-cart" class="btn btn-3 signup-popup2"><span><strong>BUY COURSE</strong></span></button>
                    </div>
                </div>
            </div>

        </div>
        <!-- Description -->

        <!--Mobile Description -->
        <div class="courses mobile-courses" ng-repeat="item in ctrl.coursedetails" style="background-color:rgba(0,0,0,0.4)">
            <div class="row circle-courses">
                <div class="col-md-4 images">
                    <div class="mobile-caption ">
                        <span>{{item.name}}</span>
                    </div>
                    <div class="mobile-subtitle">
                        {{item.subtitle}}
                    </div>
                    <img ng-src="http://{{item.imageLink}}" alt="Lights "  style="width:100%;border-radius: 50%;">
                    <button ng-click="dropme($index)" class="drop-arrow ">
                        <span class="dd glyphicon glyphicon-chevron-down" id="arrow2 "></span>
                    </button>
                </div>
            </div>
            <div class="description-courses" ng-show="isShowing($index) && check">
                <p>
                   {{item.description}}
                </p>
                <div class="batch">
                            <span><strong>BATCHES AVAILABLE : </strong>
                            <div ng-repeat="batch in item.batches track by $index" ng-if="batch.isActive == true" style="font-size:80%;">
                                     {{batch.startDate}} - {{batch.endDate}} --  {{batch.startTime}} - {{batch.endTime}}
                            </div>
                            </span>
                </div>
                <div class="course-rate">
                    <strong>{{item.price}} INR</strong>
                </div>
                <br>
                <div class="mobile-buttons">
                    <span>

                        <a href="{{item.prospectusLink}}"><button type="button" class="btn prospectus"><span id="prospectus-mobile"><strong>PROSPECTUS</strong></span></button></a>

                            <button type="button" ng-click="ctrl.individualclick(item.batches[0].imojoLink,item.id)" id="formdetails add-to-cart-mobile" class="btn btn-3 signup-popup2" style="padding:10px 25px">
                                <span style="color: black"><strong>BUY</strong>

                                </span>
                            </button>
                    </span>
                </div>
                <br>
            </div>
        </div>
        <!--Mobile Description -->


        <!-- Modal content -->

        <div id="myModal" class="modal">
            <div class="modal-content ">
                <div class="popup-header ">
                    <h2 style="text-align:center; ">ENTER DETAILS</h2>
                    <span class="close-- " id="close">&times;</span>
                </div>

                <div class="modal-body signup-body ">
                    <br>
                    <div class="input input--akira akira-name " id="email ">
                        <input ng-model="ctrl.formdetails.email" name="email" class="input__field input__field--akira "  type="text " id="input-7-3 " ng-required="true" required/>
                        <label class="input__label input__label--akira " for="input-7-3 ">
                        <span class="input__label-content input__label-content--akira ">E-MAIL</span>
                    </label>
                    </div>
                    <div class="input input--akira akira-name " id="password ">
                        <input  ng-model="ctrl.formdetails.name" name="name" class="input__field input__field--akira " type="text " id="input-7-2 " ng-required="true" required/>
                        <label class="input__label input__label--akira " for="input-7-2 ">
                        <span class="input__label-content input__label-content--akira ">NAME</span>
                    </label>
                    </div>
                    <div class="input input--akira akira-name " id="phone ">
                        <input  ng-model="ctrl.formdetails.mobile" name="phone" class="input__field input__field--akira " type="text" id="input-7-4 " ng-required="true" required="required"/>
                        <label class="input__label input__label--akira " for="input-7-4 ">
                        <span class="input__label-content input__label-content--akira " >PHONE NUMBER</span>
                    </label>
                    </div>
                    <div>
                        <button type="submit" class="btn-sign course-data" ng-click="ctrl.formsubmit()">
                            <span id="signup ">
                                <strong>DONE</strong>
                            </span>
                        </button>
                    </div>

                <!--    <div style="margin-top: 5px; ">
                        <a href=" "><span id="member ">Already a member? Log In</span></a>
                    </div> -->
                </div>
            </div>

        </div>




        <!--Individual Courses Modal-->
        <div id="myModal-individual" class="modal modal-individual ">
            <div class="modal-content-individual" >

                <div class="popup-header-individual ">
                    <h2 style="text-align:center; ">COURSES DETAILS</h2>
                    <span class="close " id="close-individual ">&times;</span>
                </div>

                <div class="modal-body-individual" ng-repeat="item in ctrl.coursedetails" ng-if="item.courseID === item.formdetails.courseID">

                    <div class="modal-caption ">
                        <span>{{item.name}}</span>
                    </div>
                    <div class="modal-age-location ">
                        <span id="modal-age-location "><strong></strong></span>
                    </div>
                    <br>
                    <div class="input input--akira akira-name ">
                        <input class="input__field input__field--akira " type="text " id="input-22 " />
                        <label class="input__label input__label--akira " for="input-22 ">
						<span class="input__label-content input__label-content--akira ">NAME OF THE STUDENT</span>
					</label>
                    </div>
                    <br>
                    <div class="input input--akira akira-school ">
                        <input class="input__field input__field--akira " type="text " id="input-22-school " />
                        <label class="input__label input__label--akira " for="input-22-school ">
                     <span class="input__label-content input__label-content--akira ">SCHOOL</span>
                 </label>
                    </div>
                    <div class="batch-timing ">
                        <span>
                    <select class="form-control " placeholder="AGE " ng-model="ctrl.age " id="batches " ng-change="create(ctrl.age) ">
                         <option style="display:none; " value="">SELECT BATCH</option>
                         <option ng-repeat="ages in item.batches.startDate" value={{ages}}>{{ages}}</option>
                     </select>
                </span>
                    </div>
                    <div class="done ">
                        <button type="button " class="btn-done course-data "><span id="done "><strong>DONE</strong></span></button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!--Individual Courses Modal-->
        
    </div>
</div>