<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Warhorse</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- AdminLTE Skins. Choose a skin from he css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/_all-skins.min.css')}}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="{{ url_for('static', filename = 'plugins/jQuery/jQuery-2.2.0.min.js') }}"></script>
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'plugins/datatables/dataTables.bootstrap.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename = 'bower_components/bootstrap-daterangepicker/daterangepicker.css')}}">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="{{url_for('static', filename='bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}">

    <link rel="stylesheet" href = "{{url_for('static', filename = 'plugins/timepicker/bootstrap-timepicker.min.css')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/glyphicons-extended.min.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/iCheck/square/blue.css') }}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
    page. However, you can choose any other skin. Make sure you
    apply the skin class to the body tag so the changes take effect.
-->

<!-- Theme style -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css') }}">

<!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/colorpicker/bootstrap-colorpicker.min.css') }}">
  <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/timepicker/bootstrap-timepicker.min.css') }}">
  <!-- Select2 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/select2.min.css') }}">
  <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/iCheck/all.css') }}">
</head>
<body class="hold-transition sidebar-mini skin-blue">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="{{ url_for('getAdminLogin') }}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>WH</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Warhorse</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
<!-- User Account: style can be found in dropdown.less -->
<li><a href="{{ url_for('adminLogout') }}" class="btn btn-primary">Logout</a> </li>
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-xs"></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <p>
                Name: lolcats<br>

            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-right">
                <a href="" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>

<!-- Control Sidebar Toggle Button
<li>
<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
</li>
-->
</ul>
</div>
</nav>
</header>

<!-- =============================================== -->

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Courses</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="{{url_for('addCourse')}}"><i class="fa fa-circle-o"></i> Create</a></li>
                        <li><a href="{{url_for('readCourse')}}"><i class="fa fa-circle-o"></i> Read </a></li>
                        <li><a href="{{url_for('prospectus.createProspectus')}}"><i class="fa fa-circle-o"></i>Prospectus</a> </li>
                    </ul>
                </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Batch</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="{{url_for('addBatch')}}"><i class="fa fa-circle-o"></i> Create</a></li>
                    <li><a href="{{url_for('readBatch')}}"><i class="fa fa-circle-o"></i> Read </a></li>
                    <li><a href="{{url_for('readActiveBatch')}}"><i class="fa fa-circle-o"></i> Active Batches </a></li>
                    <li><a href="{{url_for('batchdetails.displayDetails')}}"><i class="fa fa-circle-o"></i> Display Details</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Bundle</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="{{url_for('addBundle')}}"><i class="fa fa-circle-o"></i> Create</a></li>
                    <li><a href="{{url_for('readBundle')}}"><i class="fa fa-circle-o"></i> Read </a></li>
                    <li><a href="{{url_for('readActiveBundle')}}"><i class="fa fa-circle-o"></i> Active Bundles </a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Centre</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="{{url_for('addLocation')}}"><i class="fa fa-circle-o"></i> Create</a></li>
                    <li><a href="{{url_for('readLocation')}}"><i class="fa fa-circle-o"></i> Read </a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Inquiry</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="{{url_for('inquiry.checkInquiry')}}"><i class="fa fa-circle-o"></i> Check</a></li>
                    <li><a href="{{url_for('inquiry.downloadInquiries')}}"><i class="fa fa-circle-o"></i> Download </a></li>
                    <li><a href="{{url_for('inquiry.getPopupDetails')}}"><i class="fa fa-circle-o"></i> Popup Table </a></li>
                    <li><a href="{{url_for('inquiry.downloadPopupDetails')}}"><i class="fa fa-circle-o"></i> Popup Download </a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Coupon Code</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="{{url_for('coupon_code_bp.getCoupCode')}}">
                        <i class="fa fa-circle-o"></i> Generate</a></li>
                    <li class="active"><a href="{{url_for('coupon_code_bp.allCouponCodeList')}}">
                        <i class="fa fa-circle-o"></i> List all Coupons</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Admin</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="{{url_for('getAdminRegister')}}"><i class="fa fa-circle-o"></i> Register</a></li>
                    <li><a href="{{url_for('getAllAdmin')}}"><i class="fa fa-circle-o"></i> List Admins </a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>


{% block body %}

        {% endblock %}


<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- iCheck -->
    <script src="{{ url_for('static', filename = 'plugins/iCheck/icheck.min.js' )}}"></script>
<!-- AdminLTE App -->
    <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>

<!-- SlimScroll -->
    <script src="{{ url_for('static', filename = 'plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename = 'plugins/fastclick/fastclick.js' )}}"></script>

<!-- AdminLTE for demo purposes -->
    <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
<!-- DataTables -->

     <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
     <script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- Select2 -->
    <script src="{{ url_for('static', filename='plugins/select2/select2.full.min.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

<!-- bootstrap time picker -->
    <script src="{{ url_for('static', filename='plugins/timepicker/bootstrap-timepicker.min.js') }}"></script>
</body>
{% block datatable %}
{% endblock %}
</html>