{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Bundles
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
</section>
<section class="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
            <form action="{{url_for('postAddBundle')}}" enctype="multipart/form-data" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Bundle Name</label>
                                <input type="text" name="name" class="form-control" placeholder="Enter the Bundle Name" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="location">Bundle Location:</label>
                        <div class="row">
                            <div class="col-lg-8">
                                <select id="location" name="location" required>
                                    {% for location in locations %}
                                        <option value="{{ location }}">{{ location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Bundle Start Age</label>
                                <input type="number" name="sage" class="form-control" placeholder="Enter starting age" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Bundle End Age</label>
                                <input type="number" name="eage" class="form-control" placeholder="Enter the ending age" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Bundle Price</label>
                                <input type="number" name="price" class="form-control" placeholder="Enter Bundle Price" required>
                                <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                                <label for="limit">Bundle Description</label>
                            <textarea type="text" name="description" class="form-control" placeholder="Enter the Description" required></textarea>
                            <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="location">Bundle Course 1:</label>
                        <div class="row">
                            <div class="col-lg-8">
                                <select id="course1" name="course1" required>
                                    {% for course in courses %}
                                        <option value="{{ course.id }}">{{ course.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                </div>

                <div class="form-group">
                    <label for="location">Bundle Course 2:</label>
                        <div class="row">
                            <div class="col-lg-8">
                                <select id="course2" name="course2" required>
                                    {% for course in courses %}
                                        <option value="{{ course.id }}">{{ course.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                </div>

                <div class="form-group">
                    <label for="location">Bundle Course 3:</label>
                        <div class="row">
                            <div class="col-lg-8">
                                <select id="course3" name="course3">
                                    {% for course in courses %}
                                        <option value="{{ course.id }}">{{ course.name }}</option>
                                    {% endfor %}
                                    <option value="Nothing">Nothing</option>
                                </select>
                            </div>
                        </div>
                </div>


                <div class="row">
                    <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                        <input type="submit" class="btn btn-danger btn-block" value="Submit Order" >
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
{% endblock %}