{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Bundles List
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Bundles! :)</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Name of Bundle</th>
                                    <th>Age, Location</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Courses</th>
                                    <th>Status of Bundle</th>
                                    <th>Edit / Delete </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bundle in allBundles %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ bundle['name'] }}</td>
                                        <td>
                                            {{bundle['start_age']}}-{{bundle['end_age']}}<br>
                                            {{bundle['location']}}
                                        </td>
                                        <td>{{bundle['description']}}</td>
                                        <td>{{bundle['price']}}</td>
                                        <td>
                                            {{ bundle['courses'][0] }}<br>
                                            {{ bundle['courses'][1] }}<br>
                                            {% if bundle['courses'][2] != "Nothing" %}
                                            {{ bundle['courses'][2] }}
                                            {% else %}
                                            -None-
                                            {% endif %}
                                        </td>

                                        <td>{% if bundle['is_active'] %}
                                                Active
                                            {% else %}
                                                Bundle is shelved
                                            {% endif %}
                                        </td>

                                        <td>
                                            <div class="col-sm-12">
                                                <form action="{{url_for('deleteBundle')}}" method="post">
                                                    <input type="hidden" name="id" value="{{ bundle.id }}">
                                                    {% if bundle.is_active %}
                                                        <input type="submit" class="btn btn-danger btn-block" value="Delete">
                                                    {% else %}
                                                        <input type="submit" class="btn btn-danger btn-block" value="Revive">
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}

{%block datatable%}

<script>
    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            order: [],
            columnDefs: [{orderable:false, targets: [0,1,2,3,4,5,6]}],
            "info": true,
            "autoWidth": false
        });
    });
 </script>

{% endblock %}